
.DS_Store
.gradle/7.5.1/checksums/checksums.lock
.gradle/7.5.1/dependencies-accessors/dependencies-accessors.lock
.gradle/7.5.1/executionHistory/executionHistory.bin
.gradle/7.5.1/executionHistory/executionHistory.lock
.gradle/7.5.1/fileHashes/fileHashes.bin
.gradle/7.5.1/fileHashes/fileHashes.lock
.gradle/7.5.1/fileHashes/resourceHashesCache.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/
*.class
*.jpg
desktop/build/resources/main/BurantinoBadge.png
desktop/build/tmp/compileJava/previous-compilation-data.bin
desktop/build/resources/main/vs.png
desktop/build/resources/main/tankstars.png
desktop/build/resources/main/TankBadge copy 2.png
desktop/build/resources/main/tank4.png
desktop/build/resources/main/tank3.png
desktop/build/resources/main/tank2.png
desktop/build/resources/main/tank1.png
desktop/build/resources/main/tank-stars-best-tank-colliding.jpeg
desktop/build/resources/main/Spritesheets/unnamed.png
desktop/build/resources/main/Spritesheets/unnamed.atlas
desktop/build/resources/main/Spritesheets/tankStarSpritesheet.png
desktop/build/resources/main/Spritesheets/tankStarSpritesheet.atlas
desktop/build/resources/main/Spritesheets/tankstar.png
desktop/build/resources/main/Spritesheets/tankstar.atlas
desktop/build/resources/main/Spritesheets/Spritesheet12.png
desktop/build/resources/main/Spritesheets/Spritesheet1.png
desktop/build/resources/main/Spritesheets/Spritesheet1.atlas
desktop/build/resources/main/Sprites/WeaponSelect.png
desktop/build/resources/main/Sprites/Volley.png
desktop/build/resources/main/Sprites/VerticalSlam.png
desktop/build/resources/main/Sprites/Tank1.png
desktop/build/resources/main/Sprites/SplitterChain.png
desktop/build/resources/main/Sprites/PopUp.png
desktop/build/resources/main/Sprites/png-transparent-creative-commons-license-public-domain-wikimedia-commons-pause-text-trademark-logo.png
desktop/build/resources/main/Sprites/PausePopUp.png
desktop/build/resources/main/Sprites/PauseMenu.png
desktop/build/resources/main/Sprites/Menu.png
desktop/build/resources/main/Sprites/Helios.png
desktop/build/resources/main/Sprites/HealthBars.png
desktop/build/resources/main/Sprites/HealthBar.png
desktop/build/resources/main/Sprites/ground.png
desktop/build/resources/main/Sprites/FuelBar.png
desktop/build/resources/main/Sprites/Frost.png
desktop/build/resources/main/Sprites/FireButton.png
desktop/build/resources/main/Sprites/Fire.png
desktop/build/resources/main/Sprites/Coalition.png
desktop/build/resources/main/Sprites/button_up.png
desktop/build/resources/main/Sprites/button_down.png
desktop/build/resources/main/Sprites/Buratino.png
desktop/build/resources/main/Sprites/background.png
desktop/build/resources/main/Sprites/Abrams.png
desktop/build/resources/main/SplashScreen1.png
desktop/build/resources/main/SplashScreen.png
desktop/build/resources/main/splash.png
desktop/build/resources/main/skin/font-title-export.fnt
desktop/build/resources/main/skin/font-export.fnt
desktop/build/resources/main/skin/font-button-export.fnt
desktop/build/resources/main/skin/flat-earth-ui.png
desktop/build/resources/main/skin/flat-earth-ui.json
desktop/build/resources/main/skin/flat-earth-ui.atlas
desktop/build/resources/main/rightarrow.png
desktop/build/resources/main/PlayerTwoChoose.png
desktop/build/resources/main/PlayerOneChoose.png
desktop/build/resources/main/mainBG.png
desktop/build/resources/main/leftarrow.png
desktop/build/resources/main/HeliosBadge.png
desktop/build/resources/main/healthbar.png
desktop/build/resources/main/fonts/white_15.png
desktop/build/resources/main/fonts/white_14.png
desktop/build/resources/main/fonts/white_13.png
desktop/build/resources/main/fonts/white_12.png
desktop/build/resources/main/fonts/white_11.png
desktop/build/resources/main/fonts/white_10.png
desktop/build/resources/main/fonts/white_09.png
desktop/build/resources/main/fonts/white_08.png
desktop/build/resources/main/fonts/white_07.png
desktop/build/resources/main/fonts/white_06.png
desktop/build/resources/main/fonts/white_05.png
desktop/build/resources/main/fonts/white_04.png
desktop/build/resources/main/fonts/white_03.png
desktop/build/resources/main/fonts/white_02.png
desktop/build/resources/main/fonts/white_01.png
desktop/build/resources/main/fonts/white_00.png
desktop/build/resources/main/fonts/white.fnt
desktop/build/resources/main/fonts/black_15.png
desktop/build/resources/main/fonts/black_14.png
desktop/build/resources/main/fonts/black_13.png
desktop/build/resources/main/fonts/black_12.png
desktop/build/resources/main/fonts/black_11.png
desktop/build/resources/main/fonts/black_10.png
desktop/build/resources/main/fonts/black_09.png
desktop/build/resources/main/fonts/black_08.png
desktop/build/resources/main/fonts/black_07.png
desktop/build/resources/main/fonts/black_06.png
desktop/build/resources/main/fonts/black_05.png
desktop/build/resources/main/fonts/black_04.png
desktop/build/resources/main/fonts/black_03.png
desktop/build/resources/main/fonts/black_02.png
desktop/build/resources/main/fonts/black_01.png
desktop/build/resources/main/fonts/black_00.png
desktop/build/resources/main/fonts/black.fnt
desktop/build/resources/main/CoalitionBadge.png
desktop/build/resources/main/ChooseTankBackground.png
desktop/build/resources/main/buttonClick.mp3
core/build/libs/core-1.0.jar
core/build/tmp/compileJava/previous-compilation-data.bin
core/build/tmp/jar/MANIFEST.MF
